@use "styles/vars";

.button {
  appearance: none;
  border: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font_size_sm);
  padding: var(--space-xs) var(--space-s);
  text-decoration: none;
  transition:
    box-shadow var(--easing) var(--timing_sm),
    outline-color var(--easing) var(--timing_sm);
  width: auto;
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  outline: 3px solid transparent;

  &[disabled],
  &--loading {
    opacity: 0.5;
    pointer-events: none;
    &:hover {
      cursor: not-allowed;
    }
  }

  &__start_icon,
  &__end_icon {
    vertical-align: text-top;
    transition: margin var(--easing) var(--timing_sm);
    display: inline-block;
  }

  &__start_icon {
    margin-right: var(--space-2xs);
  }

  &__end_icon {
    margin-left: var(--space-2xs);
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 5px var(--shadow);
    outline: 3px solid var(--outline_blue);
  }

  &:hover {
    cursor: pointer;

    .button__end_icon {
      margin-left: var(--space);
    }

    .button__start_icon {
      margin-right: var(--space);
    }
  }

  &:active {
    box-shadow: inset 0 1px 5px var(--shadow);
  }

  &--lg {
    padding: var(--space-s) var(--space-m);
    font-size: var(--font_size);

    &__start_icon {
      margin-right: var(--space-xs);
    }

    &__end_icon {
      margin-left: var(--space-xs);
    }

    &:hover {
      .button__start_icon {
        margin-right: var(--space);
      }

      .button__end_icon {
        margin-left: var(--space);
      }
    }
  }

  &--sm {
    padding: var(--space-2xs) var(--space-xs);
    font-size: var(--font_size_xs);

    .button__start_icon {
      margin-right: var(--space-3xs);
    }

    .button__end_icon {
      margin-left: var(--space-3xs);
    }

    &:hover {
      .button__start_icon {
        margin-right: var(--space-2xs);
      }

      .button__end_icon {
        margin-left: var(--space-2xs);
      }
    }
  }

  &--primary {
    background-color: var(--apsis_blue);
    color: var(--white);

    &:hover,
    &:focus {
      outline-color: var(--outline_blue);
    }
  }

  &--secondary {
    background-color: var(--apsis_gray_lightest);
    color: var(--apsis_gray_darkest);

    @media screen and (prefers-color-scheme: dark) {
      background-color: var(--apsis_gray_darkest);
      color: var(--apsis_gray_lighter);
    }

    &:hover,
    &:focus {
      outline-color: var(--apsis_gray_lighter);
    }
  }

  &--tertiary {
    background-color: transparent;
    font-weight: 600;
    color: var(--apsis_blue);
    outline: none;
    box-shadow: none;

    @media screen and (prefers-color-scheme: dark) {
      color: var(--white);
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      color: var(--apsis_dark);

      @media screen and (prefers-color-scheme: dark) {
        color: var(--white);
        opacity: 0.9;
      }
    }

    &:active {
      color: var(--apsis_gray);

      @media screen and (prefers-color-scheme: dark) {
        color: var(--white);
        opacity: 0.5;
      }
    }
  }

  &--ghost {
    background-color: transparent;
    font-weight: 600;
    color: var(--white);
    outline: none;
    box-shadow: none;

    @media screen and (prefers-color-scheme: dark) {
      color: var(--apsis_dark);
    }

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      color: var(--apsis_gray_lightest);

      @media screen and (prefers-color-scheme: dark) {
        color: var(--apsis_dark_dark);
        opacity: 0.9;
      }
    }
  }
}
