@use 'styles/vars';

.button {
  appearance: none;
  background-color: vars.$apsis_blue;
  border: 0;
  color: vars.$white;
  display: inline-block;
  font-size: vars.$font_size_sm;
  padding: vars.$spacing_sm vars.$spacing;
  text-decoration: none;
  transition: box-shadow ease-in-out 0.125s;
  width: auto;
  line-height: 1;
  white-space: nowrap;
  user-select: none;
  outline: 3px solid transparent;

  &__end_icon {
    vertical-align: text-top;
    margin-left: vars.$spacing_sm;
    transition: margin ease-in-out 0.125s;
    display: inline-block;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1px 5px rgba(vars.$apsis_dark, 0.5);
    outline: 3px solid rgba(vars.$apsis_blue, 0.25);
  }

  &:hover {
    cursor: pointer;

    .button__end_icon {
      margin-left: vars.$spacing_lg;
    }
  }

  &:active {
    box-shadow: inset 0 1px 5px rgba(vars.$apsis_dark, 0.5);
  }
}
