@use "styles/vars";

.clients {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

  @media (min-width: vars.$tablet) {
    padding: var(--spacing) var(--spacing_lg);
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }

  &__logo_frame {
    padding: var(--spacing_sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: vars.$desktop) {
      padding: var(--spacing);
    }
  }

  &__logo {
    max-width: 60%;
    object-fit: contain;

    @media screen and (prefers-color-scheme: dark) {
      filter: invert(50%);
    }
  }
}
