@use "styles/vars";

.cta {
  padding: var(--spacing_xl) calc(var(--spacing_xl));
  display: flex;
  flex-direction: column;
  gap: var(--spacing_lg);

  @media (min-width: vars.$mobile) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--apsis_blue);
    font-size: var(--font_size_h1);
    font-weight: bold;
    margin: 0;
  }


  &__subtitle {
    color: var(--apsis_gray);
    font-size: var(--font_size_h3);
    opacity: 0.75;
    margin: 0;

    @media screen and (prefers-color-scheme: dark) {
      color: var(--white);
      opacity: 0.5;
    }
  }
}
