@use 'styles/vars';

.footer {
  color: var(--apsis_gray_light);
  padding: var(--space-m) var(--space);
  font-size: var(--font_size_sm);

  &__logo {
    text-decoration: none;
    color: var(--apsis_gray_light);
  }

  &__logotype {
    font-size: var(--font_size_h6);
  }

  &__tagline_container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);

    @media (min-width: vars.$tablet) {
      align-items: flex-end;
    }
  }

  &__tagline {
    text-transform: lowercase;
    font-weight: 600;

    @media (min-width: vars.$tablet) {
      font-size: var(--font_size_h6);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
    padding: 0;
    margin: 0;

    @media (min-width: vars.$mobile) {
      align-items: center;
      flex-direction: row;
      gap: var(--space-s);
    }
  }
}
