@use 'styles/vars';

.footer {
  color: var(--gray);
  padding: var(--spacing_xl) var(--spacing_lg);
  font-size: var(--font_size_sm);

  &__logo {
    text-decoration: none;
    color: var(--gray);
  }

  &__logotype {
    font-size: var(--font_size_h6);
  }

  &__tagline_container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing_sm);

    @media (min-width: vars.$tablet) {
      align-items: flex-end;
    }
  }

  &__tagline {
    text-transform: lowercase;
    font-weight: 600;

    @media (min-width: vars.$tablet) {
      font-size: var(--font_size_h6);
    }
  }
}
