@use "styles/vars";

.hero {
  --hero_height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-l);
  position: relative;
  color: var(--apsis_blue_lightest);
  min-height: var(--hero_height);

  @media (min-width: vars.$tablet) {
    padding: var(--space-xl) var(--space-l);
  }

  @media (min-width: vars.$desktop) {
    flex-direction: column;
    align-items: center;
    padding: var(--space-xl);
  }

  &__callout {
    position: absolute;
    top: var(--space-l);
  }

  &__headline {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    align-items: center;
    width: 100%;
  }

  &__title {
    width: 100%;
    font-family: var(--serif);
    font-size: var(--font_size_d2);
    text-transform: lowercase;
    font-weight: 700;
    color: var(--apsis_blue_darker);
    line-height: var(--heading_line_height);

    @media (min-width: vars.$tablet) {
      font-size: var(--font_size_d1);
      white-space: nowrap;
    }

    @media screen and (prefers-color-scheme: dark) {
      color: var(--apsis_blue_lightest);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-s);
  }

  &__highlight {
    color: var(--apsis_orange);

    &:hover {
      background-color: var(--apsis_blue_border);
    }
  }

  &__copy {
    font-size: var(--font_size_lg);
    text-shadow: none;
    color: var(--text_muted);
  }

  &__image_container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    display: none;
    color: var(--apsis_blue);
    transition: opacity var(--easing) var(--timing_sm);

    @media screen and (prefers-color-scheme: dark) {
      filter: invert(100%);
      opacity: 0.65;
    }

    @media (min-width: vars.$tablet) {
      display: block;
    }
  }

  &__pattern {
    position: absolute;
    opacity: 0.25;
    transition: transform var(--easing) var(--timing_sm);
  }

  &__pattern_left {
    left: 100%;
    transform: translateX(-18%) translateY(10%);

    @media (min-width: vars.$tablet) {
      transform: translateX(-25%) translateY(-88%);
    }
  }

  &__pattern_right {
    right: 100%;
    transform: translateX(12%) translateY(81%);
  }
}
