@use "styles/vars";

.logotype {
  font-size: var(--font_size);
  line-height: 1.75;
  color: inherit;
  text-transform: lowercase;
  font-weight: 700;
  white-space: nowrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xs);

  @media (min-width: vars.$mobile) {
    font-size: var(--font_size_h3);
  }

  &__wordmark {
    // display: none;
    transform: translateY(-1.5px);
  }

  &__planet {
    flex-shrink: 0;
  }
}
