@use "styles/vars";

.logotype {
  font-size: var(--font_size_h4);
  color: var(--apsis_blue);
  text-transform: lowercase;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__planet {
    margin-right: var(--spacing_sm);
  }
}
