@use 'styles/vars';

.navbar {
  display: flex;
  align-items: center;
  padding: var(--spacing_sm) var(--spacing);

  &__logo {
    text-decoration: none;
    color: inherit;
  }

  &__nav {
    margin-left: var(--spacing_lg);
  }

  &__nav_item {
    font-size: var(--font_size_sm);
    color: var(--apsis_dark);
    text-decoration: none;
    padding: var(--spacing_xs);
    margin-right: var(--spacing_md);
    line-height: 1;

    &:hover {
      border-radius: var(--spacing_xs);
      background-color: var(--border_blue);
    }

    &:active {
      background-color: var(--surface_blue);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__tagline {
    position: relative;
    margin-left: auto;
    font-size: var(--font_size_sm);
    color: var(--apsis_blue);
    text-transform: lowercase;
    padding: var(--spacing_xs) var(--spacing_sm);

    &::after {
      z-index: -1;
      display: block;
      content: "";
      background-color: var(--border_blue);
      width: 140%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  &__highlight {
    color: vars.$apsis_orange;
  }
}
