@use "styles/vars";

.newsletter_signup {
  &__root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-l);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  &__title {
    margin: 0;
    color: var(--apsis_blue);
  }

  &__subtitle {
    margin: 0;
    color: var(--apsis_gray);
    font-weight: normal;
  }

  &__disclaimer {
    margin: 0;
    opacity: 75%;
  }
}

.newsletter_form {
  display: flex;
  border: 1px solid var(--border);
  overflow: hidden;
  transition: border-color var(--easing) var(--timing_sm);

  &:focus-within {
    border-color: var(--apsis_blue);
    box-shadow: 0 0 0 var(--space-3xs) var(--apsis_blue_outline);
  }

  &__input {
    flex: 1;

    :global(.input) {
      border: none;
      box-shadow: none;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &__button {
    border-left: 1px solid var(--border);

    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
