@use "styles/vars";

.page_header {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  &__title {
    margin: 0;
    font-size: var(--font_size_d3);
    text-wrap: balance;
  }

  &__subtitle {
    margin: 0;
    color: var(--apsis_gray);
    font-weight: 500;
    text-wrap: balance;
  }

  &__divider {
    margin-bottom: 0;
  }

  &--center {
    align-items: center;

    .page_header__title {
      text-align: center;
    }
    .page_header__subtitle {
      text-align: center;
    }
  }
}
