.repo_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: monospace;
  padding: var(--space);
  border: 1px solid transparent;
  position: relative;
  color: var(--text_color);
  text-decoration: none;
  transition: border-color var(--timing_md) var(--easing) var(--timing_md),
              transform 0.125s var(--easing);
  height: 120px;

  &:hover {
    border-color: var(--apsis_orange);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.75;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: var(--apsis_blue_surface);
    transition: transform var(--easing) var(--timing_md),
                background-color var(--easing) var(--timing_md);
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--apsis_orange_surface);
  }

  &__media {
    margin-right: var(--space-xs);
    color: var(--apsis_gray_light);
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
    font-size: var(--font_size);
  }

  &__content {
    font-size: var(--font_size_sm);
  }

  &--nw,
  &--ne,
  &--sw,
  &--se {
    --x_translate: calc(var(--space-xs) * 1);
    --y_translate: calc(var(--space-xs) * 1);
    transform: translateX(calc(var(--x_translate) / 2)) translateY(calc(var(--y_translate) / 2));

    &::before {
      transform: translateX(calc(var(--x_translate) / -2)) translateY(calc(var(--y_translate) / -2));
    }

    &::after {
      transform: translateX(calc(var(--x_translate) / 2)) translateY(calc(var(--y_translate) / 2));
    }

    &:hover,
    &:focus,
    &:active {
      transform: translateX(calc(var(--x_translate) / 2)) translateY(calc(var(--y_translate) / 2 - 0.5rem));

      &::before,
      &::after {
        transform: none;
      }
    }
  }

  &--nw {
    --x_translate: calc(var(--space-xs) * -1);
    --y_translate: calc(var(--space-xs) * -1);
  }

  &--ne {
    --x_translate: calc(var(--space-xs) * 1);
    --y_translate: calc(var(--space-xs) * -1);
  }

  &--sw {
    --x_translate: calc(var(--space-xs) * -1);
    --y_translate: calc(var(--space-xs) * 1);
  }

  &--se {
    --x_translate: calc(var(--space-xs) * 1);
    --y_translate: calc(var(--space-xs) * 1);
  }
}