@use "styles/vars";

.row {
  display: flex;
  flex-direction: column;

  padding: 0 var(--space-m);
  margin: 0 calc(-1 * var(--space-m));
  margin-bottom: var(--space-xl);

  & > * {
    flex: 1;
    margin-bottom: var(--space-m);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: vars.$tablet) {
    flex-direction: row;
    margin-bottom: var(--space-2xl);
    gap: var(--space-l);

    & > * {
      margin-bottom: 0;
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--narrow {
      max-width: calc(var(--site_width) * 0.75);
      margin-left: auto;
      margin-right: auto;
    }
  }
}
