@use 'styles/vars';

.row {
  padding: 0 vars.$spacing_lg;
  margin: 0 (-1 * vars.$spacing_lg);
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: vars.$spacing_lg;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: vars.$tablet) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    & > * {
      flex: 0 calc(50% - #{vars.$spacing});
      margin-right: vars.$spacing;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: vars.$spacing_lg;
      }
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      align-items: center;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--reverse {
      flex-direction: row-reverse;
    }

    &--narrow {
      max-width: calc(var(--siteWidth) * 0.75);
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: vars.$desktop) {
    & > * {
      flex: 1;
      margin-bottom: 0;
      margin-right: vars.$spacing_xl;

      &:nth-child(2n) {
        margin-right: vars.$spacing_xl;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}
