@use 'styles/vars';

.section {
  position: relative;
  background-color: var(--section_background);
  overflow-x: hidden;

  &--gray {
    --section_background: var(--apsis_gray_surface);
    --guide_color: var(--apsis_gray_border);
  }

  &--blue {
    --section_background: var(--apsis_blue_surface);
    --guide_color: var(--apsis_blue_border);
  }

  &--bordered {
    border-top: 1px solid var(--guide_color);
    border-bottom: 1px solid var(--guide_color);
  }

  &--spaced {
    .section__content {
      padding: var(--space-l) var(--space-m);

      display: flex;
      flex-direction: column;
      gap: var(--space-l);

      @media (min-width: vars.$tablet) {
        padding: var(--space-xl) var(--space-l);
        gap: var(--space-xl);
      }

      @media (min-width: vars.$desktop) {
        padding: var(--space-2xl) var(--space-xl);
        gap: var(--space-2xl);
      }
    }
  }

  &--kebabed {
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-color: var(--guide_color);
      height: 1px;
      width: calc((100vw - var(--site_width)) / 2 + var(--space));
    }

    &::before {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &--narrow {
    // --site_width: var(--narrow_width);
    .section__content {
      margin: 0 auto;
      max-width: var(--narrow_width);
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__guides {
    height: 100%;
    margin: 0 auto;
    max-width: var(--site_width);
    width: 100%;

    @media (min-width: vars.$mobile) {
      border-left: 1px solid var(--guide_color);
      border-right: 1px solid var(--guide_color);
    }
  }

  &__container {
    margin: 0 auto;
    max-width: var(--site_width);
    width: 100%;
  }

  &__label_container {
    background-color: var(--apsis_blue_surface);
    padding: var(--space-2xs) var(--space);
    display: inline-block;

    @media (min-width: vars.$desktop) {
      position: absolute;
      padding-right: var(--space-l);
    }

    @media (min-width: vars.$desktop_xl) {
      white-space: nowrap;
      transform: translateX(calc(-100vw / 2 + var(--site_width) / 2));
      width: calc(((100vw - var(--site_width)) / 2) + #{var(--space-m)});
      transition: width ease-in-out 0.25s;
      top: var(--space-l);

      &:hover {
        width: calc(((100vw - var(--site_width)) / 2) + #{var(--space-l)});
      }
    }

    &--centered {
      @media (min-width: vars.$desktop_xl) {
        top: 50%;
        transform: translateX(calc(-100vw / 2 + var(--site_width) / 2)) translateY(-50%);
      }
    }
  }

  &__label {
    font-family: var(--mono);
    color: var(--apsis_blue);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__icon {
    margin-right: var(--space-s);
  }
}
