@use 'styles/vars';

$variant_colors: (
  "blue": var(--apsis_blue),
  "pink": var(--apsis_fuschia),
  "green": var(--apsis_green),
  "yellow": var(--apsis_orange),
);

.services_list {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: vars.$mobile) {
    width: auto;
  }

  &__title {
    color: var(--apsis_blue);
    margin-bottom: var(--space-xs);
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: var(--space-xs);
  }

  &__list {
    padding-left: 2rem;
    margin-left: var(--space-s);

    li::before {
      content: "•";
      color: var(--gray);
      display: inline-block;
      width: var(--space-s);
      margin-left: calc(-1 * var(--space-l));
      font-weight: 600;
    }
  }

  @each $variant, $color in $variant_colors {
    &--#{$variant} {
      .services_list__title {
        color: $color;
      }
    }
  }
}
