@use 'styles/vars';

$variant_colors: (
  "blue": var(--apsis_blue),
  "pink": var(--apsis_fuschia),
  "green": var(--apsis_green),
  "gold": var(--apsis_orange),
);

.service_row {
  &__row {
    margin-bottom: var(--space-xl);

    @media (min-width: vars.$desktop) {
      margin-bottom: var(--space-2xl);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: var(--space);
    font-size: var(--font_size_h4);
    font-weight: 700;
  }

  &__image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--space-m);

    @media (min-width: vars.$desktop) {
      margin-bottom: 0;
    }
  }

  &__image {
    width: 80%;
    max-width: 320px;
  }

  @each $variant, $color in $variant_colors {
    &--#{$variant} {
      .service_row__title {
        color: $color;
      }
    }
  }
}
