{% assign banner = site.data.banners.hero %}

<section id="hero" class="banner banner--hero">
    <div class="container animated--bounce-in">
        <header class="banner__header">
            <h1>{{ banner.headline | smartify }}</h1>
        </header>

        <div class="banner__copy">
            {{ banner.copy | markdownify }}

            <br>

            <a href="#contact" class="btn btn--hero btn--large">
                {{ banner.button_text }}
            </a>
        </div>
    </div>

    <div class="banner__next">
        <a href="#services" class="banner__next-link">
            {{ banner.next_link }}
        </a>
    </div>
</section>
