{% assign banner = site.data.banners.about %}
<section id="about" class="banner banner--about">
    <div class="container">
        <header class="banner__header">
            <h2>{{ banner.headline | smartify }}</h2>
        </header>

        <div class="banner__copy">
            {{ banner.copy | markdownify }}
            <br>
            <ul class="link-list">
                <li class="link-list__item">
                    <a class="link-list__link" href="{% post_url 2015-04-23-work-sustainably %}">
                        More about our philosophy &raquo;
                    </a>
                </li>
                <li class="link-list__item">
                    <a class="link-list__link" href="mailto:jobs@apsis.io" target="_blank">
                        Join our team &raquo;
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
