{% assign banner = site.data.banners.clients %}
<section id="clients" class="banner">
    <div class="container">
        <header class="banner__header">
            <h2>{{ banner.headline | smartify }}</h2>
        </header>

        <div class="banner__copy">
            {{ banner.copy | markdownify }}

            <div class="slider">
                {% for testimonial in site.data.testimonials %}
                    <div>
                        {% include components/testimonial.html testimonial=testimonial %}
                    </div>
                {% endfor %}
            </div>


            <hr>

            {% include components/image_list.html images=site.data.clients link_target="_blank" %}
        </div>
    </div>
</section>
