<section id="about" class="banner">
    <div class="container">
        <header class="banner__header">
            <h1>Who We Are</h1>
        </header>

        <div class="banner__copy">
            <p>
                We work as a distributed team based out of Seattle, WA, with experience everywhere from startups to enterprise. We believe in creating a sustainable and fulfilling professional life, with an emphasis on individual growth and freedom.
            </p>

            <p>
                <a href="#">More about our philosophy</a>
                <a href="#">Join our team</a>
            </p>
        </div>
    </div>
</section>
