@use "styles/vars";
@use "styles/global";

.post-wrapper {
  padding-left: vars.$spacing_md;
  padding-right: vars.$spacing_md;
}

.post {
  margin-bottom: vars.$spacing_xl * 2;

  &__title {
    font-size: vars.$font_size_h1;
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing_md;
    margin-bottom: vars.$spacing_md;
  }

  &__header,
  &__content {
    @extend .typography;
  }

  &__image-wrapper {
    margin-left: vars.$spacing_md * -3;
    margin-right: vars.$spacing_md * -3;

    overflow: hidden;

    .zoom-overlay-open & {
      overflow: visible;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__photo-credit {
    color: vars.$gray_lighter;
    font-style: italic;
    font-weight: 300;
  }

  &__meta {
    font-size: 0.85em;
    color: vars.$gray;
  }
}
