@use "styles/vars";
@use "styles/global";
@use "styles/typography";

.post {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);

  &__title {
    font-size: var(--font_size_h2);
    color: var(--apsis_blue);
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }

  &__content {
    @extend .typography;
  }

  &__image-wrapper {
    margin-left: calc(var(--space-xl) * -1);
    margin-right: calc(var(--space-xl) * -1);

    overflow: hidden;

    .zoom-overlay-open & {
      overflow: visible;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__photo-credit {
    color: var(--apsis_gray_light);
    font-style: italic;
    font-weight: 300;
    font-size: var(--font_size_xs);
    margin-left: var(--space-xl);
  }

  &__meta {
    font-size: var(--font_size_sm);
    color: var(--apsis_gray_light);
  }

  &--list {
    margin-bottom: var(--space-xl);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--list-small {
    margin-bottom: var(--space-m);

    .post__title {
      font-size: var(--font_size_h3);
      margin: 0;
    }
  }
}
