//== Basic Canvas Settings
//

* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

html, body {
    @include size(100%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 1px;
    min-width: 100%;
    overflow-x: hidden;
    border-top: 3px solid $apsis-blue;
    background-color: white;

    &.nav-open {
        overflow: hidden;
    }
}
