.link {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-visited-color;
    }

    &:hover, &:visited:hover {
        text-decoration: underline;
        color: $link-hover-color;
    }

    &--underline {
        @include underline-link($link-color, $link-hover-color, $link-active-color);
    }
}
