//== Base Styles
//

body {
    @include font-feature-settings("liga", "pnum");
    color: $text-color;
    font-size: $font-size-base;
    font-family: $font-family-sans;
    line-height: $line-height-base;

    @include hidpi(1.5) {
        font-weight: 300;
    }
}

.block-margins {
    @include margin(1em 0);
}

.h1 {
    font-size: modular-scale(5);
    letter-spacing: -2px;
}

.h2 {
    font-size: modular-scale(4);
    letter-spacing: -1px;
}

.h3 {
    font-size: modular-scale(3);
}

.h4 {
    font-size: modular-scale(2);
}

.h5 {
    font-size: modular-scale(1);
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    font-family: $font-family-serif;
    line-height: 1.15;

    &.sans {
        font-family: $font-family-sans;
    }
}

.hr {
    width: 20%;
    margin: 2em 0;
    border: 0;
    border-top: 1px solid $gray-lighter;
}

.blockquote {
    @include margin(1em 0);
    @include padding(0 0 0 1.5em);
    border-left: 3px solid $gray-lighter;

    > p {
        color: $apsis-gray;
    }
}

.typography {
    h1 {
        @extend .h1;
    }

    h2 {
        @extend .h2;
    }

    h3 {
        @extend .h3;
    }

    h4 {
        @extend .h4;
    }

    h5 {
        @extend .h5;
    }

    //== Block Elements
    //

    p,
    ul,
    ol,
    pre {
        @extend .block-margins;
    }

    ul,
    ol {
        ul,
        ol {
            @include margin(0 null);
        }
    }

    hr {
        @extend .hr;
    }

    sup {
        @include margin(null 1ex);
        font-weight: normal;

        a {
            @extend .link--underline;
        }
    }

    strong {
        font-weight: 600;
    }

    iframe {
        border: 0;
    }

    blockquote {
        @extend .blockquote;
    }

    //== Paragraph Elements
    //

    p > pre,
    p > code {
        font-family: $font-family-fixed;
        border: 1px solid #ccc;
        background-color: #fafafa;
        padding: 0 5px;
        border-radius: 4px;
    }

    p > a {
        @extend .link--underline;
    }

    p > img,
    figure > img {
        max-width: 100%;
    }
}
