@mixin before($content: '') {
    &:before {
        content: $content;

        @content;
    }
}

@mixin after($content: '') {
    &:after {
        content: $content;

        @content;
    }
}

@mixin overlay($color: black, $opacity: .9, $z-index: 1) {
    @include before {
        display: block;
        @include position(absolute, 0);
        background-color: transparentize($color, 1 - $opacity);
        z-index: $z-index;
    }
}
