<header id="header" class="navbar">
    <div class="navbar__header">
        <a href="{{ site.baseurl }}/" class="logo logo--navbar">
            {% img apsis.svg alt:{{site.name}} class:"logo__image" %}
        </a>

        <button id="nav-toggle" class="navbar__nav-toggle">
            <span class="navicon">
                <span class="navicon__bar"></span>
            </span>
            <span class="sr">Toggle Menu</span>
        </button>
    </div>

    <div class="navbar__collapse">
        <nav class="navbar__nav">
            {% for link in site.data.nav %}
                <a class="navbar__nav-link" href="{{ link.url }}">
                    {{ link.label }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>
