<section id="hero" class="banner">
    <div class="container animated--bounce-in">
        <div class="banner__copy">
            <h1>You're busy, we can help.</h1>
            <p>We believe the right software isn't just innovative: it's inspiring. We craft simple solutions to help drive efficiency and save you time. Sound interesting?</p>
            <p>
                <a href="#contact" class="btn btn-default">let's build something</a>
            </p>
        </div>

        <div class="next-section">
            <a href="#services" class="next-section__link">
                <span class="fa fa-3x fa-fw fa-angle-down"></span> >
            </a>
        </div>
    </div>
</section>
