{% assign prev = "Previous" %}
{% assign next = "Next" %}

<nav class="paginator">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/blog/" class="paginator__link">
                {{ prev }}
            </a>
        {% else %}
            <a href="/blog/{{paginator.previous_page}}" class="paginator__link">
                {{ prev }}
            </a>
        {% endif %}
    {% else %}
        <a href="#" class="paginator__link paginator__link--disabled">
            {{ prev }}
        </a>
    {% endif %}

    <span class="paginator__count">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
        <a href="/blog/{{paginator.next_page}}" class="paginator__link">
            {{ next }}
        </a>
    {% else %}
        <a href="#" class="paginator__link paginator__link--disabled">
            {{ next }}
        </a>
    {% endif %}
</nav>
