@use "styles/utils/underlineLink";

.link {
  color: var(--apsis_dark);
  text-decoration: none;

  &:visited {
    color: var(--apsis_blue);
  }

  &:hover,
  &:visited:hover {
    text-decoration: underline;
    color: var(--apsis_blue);
  }

  &--underline {
    @include underlineLink.underline-link(
      var(--apsis_dark),
      var(--apsis_blue),
      var(--apsis_blue)
    );
  }
}

.typography {
  > p {
    margin-bottom: var(--spacing);
  }

  a {
    @extend .link--underline;
  }

  //= BLOCK ELEMENTS

  p,
  ul,
  ol,
  pre {
    margin-bottom: var(--spacing_md);
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  hr {
    width: 20%;
    margin: var(--spacing_md) 0;
    border: 0;
    border-top: 1px solid var(--border_gray);
  }

  sup {
    font-weight: normal;

    a {
      @extend .link;
    }
  }

  strong {
    font-weight: 600;
  }

  iframe {
    border: 0;
  }

  //= PARAGRAPH ELEMENTS

  p > pre,
  p > code {
    font-family: var(--mono);
    border: 1px solid var(--border_gray);
    background-color: var(--gray_lightest);
    padding: 0 5px;
    border-radius: 4px;
  }

  p > a {
    @extend .link--underline;
    @media (min-width: var(--tablet)) {
      white-space: nowrap;
    }
  }

  p > img,
  figure > img {
    max-width: 100%;
  }

  figure > figcaption {
    font-size: 0.85em;
    color: var(--apsis_gray);
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
}
