@use "sass:color";
@use "./vars";

.handwritten {
  font-family: var(--font-hand);
  font-size: 1.3em;
  letter-spacing: -0.5%;
}

.m-0 {
  margin: 0 !important;
}

.hidden {
  visibility: hidden;
  display: none;
}

.text-primary {
  color: var(--apsis_blue);
}

.text-accent {
  color: var(--apsis_orange);
}

.text-sm {
  font-size: var(--font_size_sm);
}

.text-muted {
  opacity: 0.75;
}

.overflow-hidden {
  overflow: hidden;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-weight: 700;
  color: var(--gray_dark);
  font-size: var(--font_size_sm);
  margin-bottom: var(--space-xs);

  &.required {
    &::after {
      content: "*";
      color: var(--apsis_orange);
      vertical-align: super;
    }
  }
}

.input {
  border-radius: 0;
  padding: var(--space-2xs) var(--space-xs);
  background-color: var(--section_background);
  color: var(--text_color);
  display: block;
  border: 1px solid var(--border);
  width: 100%;

  &.error {
    border: 1px solid var(--apsis_orange);
  }
}

.link {
  color: var(--apsis_blue);
  text-decoration: none;

  &:visited {
    color: var(--apsis_blue);
  }

  &:hover,
  &:visited:hover {
    text-decoration: underline;
    color: var(--apsis_blue);
  }
}

.inline_list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-xs);
  list-style: none;
}

.divider {
  width: 20%;
  margin: var(--space-m) 0;
  border: 0;
  border-top: 1px solid var(--border);
}
.stack {
  display: flex;
  flex-direction: column;

  &.stack-h {
    flex-direction: row;
    align-items: center;
  }

  &.gap-md {
    gap: var(--space);
  }
  &.gap-lg {
    gap: var(--space-m);
  }
  &.gap-sm {
    gap: var(--space-xs);
  }
}

.typography {
  a {
    @extend .link;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: var(--heading_line_height);
    margin-bottom: var(--space);
    margin-top: var(--space-m);
    font-weight: 700;
  }

  h1 {
    font-size: var(--font_size_h1);
  }

  h2 {
    font-size: var(--font_size_h2);
  }

  h3 {
    font-size: var(--font_size_h3);
  }

  h4 {
    font-size: var(--font_size_h4);
  }

  h5 {
    font-size: var(--font_size_h5);
  }

  //= BLOCK ELEMENTS

  p,
  ul,
  ol,
  pre {
    margin-bottom: var(--space);
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      margin-bottom: var(--space-xs);
    }
  }

  hr {
    width: 20%;
    margin: var(--space) 0;
    border: 0;
    border-top: 1px solid var(--border);
  }

  sup {
    font-weight: normal;
  }

  strong {
    font-weight: 600;
  }

  iframe {
    border: 0;
  }

  blockquote {
    border-left: 2px solid var(--border);
    padding-left: var(--space);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space);

    *:last-child {
      margin-bottom: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  //= PARAGRAPH ELEMENTS

  .lead {
    font-size: var(--font_size_lg);
  }

  p > pre,
  p > code {
    font-family: var(--mono);
    background-color: var(--gray_lightest);
    padding: 0 var(--space-2xs);
  }

  div > pre {
    width: 100%;
    overflow-x: scroll;
  }

  p > a {
    @media (min-width: var(--tablet)) {
      white-space: nowrap;
    }
  }

  p > img,
  figure > img {
    max-width: 100%;
  }

  figure > figcaption {
    font-size: var(--font_size_xs);
    color: var(--apsis_gray);
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  #footnote-label {
    font-size: var(--font_size_lg);
  }
}

.markdown-alert,
.alert {
  border-left: 4px solid var(--border);
  padding: var(--space);
  margin-bottom: var(--space);
  font-size: var(--font_size_sm);
  background-color: var(--apsis_gray_surface);

  *:last-child {
    margin-bottom: 0;
  }

  .markdown-alert-title,
  .alert-title {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    font-weight: bold;
    margin-bottom: var(--space-2xs);
  }

  &.markdown-alert-note,
  &.alert-note {
    border-left-color: var(--apsis_blue);
    background-color: color-mix(in srgb, var(--apsis_blue) 5%, white);

    .markdown-alert-title,
    .alert-title {
      color: var(--apsis_blue);

      svg {
        fill: var(--apsis_blue);
      }
    }
  }

  &.markdown-alert-tip,
  &.alert-tip,
  &.markdown-alert-success,
  &.alert-success {
    border-left-color: var(--apsis_green);
    background-color: color-mix(in srgb, var(--apsis_green) 5%, white);

    .markdown-alert-title,
    .alert-title {
      color: var(--apsis_green);

      svg {
        fill: var(--apsis_green);
      }
    }
  }

  &.markdown-alert-important,
  &.alert-important {
    border-left-color: var(--apsis_purple);
    background-color: color-mix(in srgb, var(--apsis_purple) 5%, white);

    .markdown-alert-title,
    .alert-title {
      color: var(--apsis_purple);

      svg {
        fill: var(--apsis_purple);
      }
    }
  }

  &.markdown-alert-warning,
  &.alert-warning {
    border-left-color: var(--apsis_orange);
    background-color: color-mix(in srgb, var(--apsis_orange) 5%, white);

    .markdown-alert-title,
    .alert-title {
      color: var(--apsis_orange);

      svg {
        fill: var(--apsis_orange);
      }
    }
  }

  &.markdown-alert-caution,
  &.alert-caution {
    border-left-color: var(--apsis_red);
    background-color: color-mix(in srgb, var(--apsis_red) 5%, white);

    .markdown-alert-title,
    .alert-title {
      color: var(--apsis_red);

      svg {
        fill: var(--apsis_red);
      }
    }
  }
}

@keyframes expand {
  0% {
    width: 0;
    opacity: 50%;
  }

  100% {
    width: 100%;
    opacity: 100%;
  }
}

.highlight {
  position: relative;
  margin: 0em -0.1em;
  padding: 0.1em 0.1em;
  background: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  z-index: 0;
  color: var(--apsis_blue);
  transform: rotate(-2deg);
  display: inline-block;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   background-image: linear-gradient(to right, #ffe1001a, #ffe100ae);
  //   border-radius: 0.3rem 0.8rem;
  //   opacity: 0.9;
  // }

  &::before {
    content: "";
    animation: expand ease-out 0.45s;
    z-index: -1;
    display: block;
    position: absolute;

    height: 63%;
    left: 0.05em;
    bottom: 0;
      width: calc(100% + 0.5rem);

    transform: rotate(-1.2deg) translateY(-0.2em);
    content: "";
    padding: 0.1em 0.2em;
    border-radius: 0.4em 0.1em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.05),
      rgba(255, 225, 0, 0.4) 4%
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}



.grid {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  position: absolute;
  // inset: -8.5rem 0% 0%;
}
