@use "sass:color";
@use "./vars";

:root {
  //= COLORS & VARIANTS
  @each $name, $color in vars.$colors {
    --#{$name}: #{$color};

    --#{$name}_darkest: #{color.adjust($color, $lightness: -30%)};
    --#{$name}_darker: #{color.adjust($color, $lightness: -15%)};
    --#{$name}_dark: #{color.adjust($color, $lightness: -5%)};
    --#{$name}_light: #{color.adjust($color, $lightness: 15%)};
    --#{$name}_lighter: #{color.adjust($color, $lightness: 30%)};
    --#{$name}_lightest: #{color.adjust($color, $lightness: 40%)};

    --#{$name}_border: #{rgba($color, 0.15)};
    --#{$name}_outline: #{rgba($color, 0.25)};
    --#{$name}_surface: #{rgba($color, 0.05)};
  }

  --border: var(--apsis_gray_border);
  --section_background: var(--white);
  --text_color: var(--apsis_dark);
  --text_muted: var(--apsis_gray_dark);
  --link_color: var(--apsis_dark_darker);
  --link_color_hover: var(--apsis_dark_darkest);
  --link_color_dark: var(--apsis_gray_dark);

  --guide_color: var(--border);
  --shadow: #{rgba(vars.$apsis_dark, 0.45)};

  //= FONTS
  --sans: var(--font-inter), sans-serif;
  --mono: var(--font-mono), monospace;
  --serif: Var(--font-noto), serif;

  // Steps from Utopia
  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1440,20,1.2,8,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--3: clamp(0.651rem, 0.6304rem + 0.1033vw, 0.7234rem);
  --step--2: clamp(0.7813rem, 0.7564rem + 0.124vw, 0.8681rem);
  --step--1: clamp(0.9375rem, 0.9077rem + 0.1488vw, 1.0417rem);
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.3071rem + 0.2143vw, 1.5rem);
  --step-2: clamp(1.62rem, 1.5686rem + 0.2571vw, 1.8rem);
  --step-3: clamp(1.944rem, 1.8823rem + 0.3086vw, 2.16rem);
  --step-4: clamp(2.3328rem, 2.2587rem + 0.3703vw, 2.592rem);
  --step-5: clamp(2.7994rem, 2.7105rem + 0.4443vw, 3.1104rem);
  --step-6: clamp(3.3592rem, 3.2526rem + 0.5332vw, 3.7325rem);
  --step-7: clamp(4.0311rem, 3.9031rem + 0.6399vw, 4.479rem);
  --step-8: clamp(4.8373rem, 4.6837rem + 0.7678vw, 5.3748rem);

  --font_size: var(--font_size_0);
  --line_height: 1.6125;
  --heading_line_height: 1.125;

  --font_size_xxs: var(--step--3);
  --font_size_xs: var(--step--2);
  --font_size_sm: var(--step--1);
  --font_size_md: var(--step-0);
  --font_size_lg: var(--step-1);

  --font_size_h1: var(--step-4);
  --font_size_h2: var(--step-3);
  --font_size_h3: var(--step-2);
  --font_size_h4: var(--step-1);
  --font_size_h5: var(--step-0);

  --font_size_d1: var(--step-7);
  --font_size_d2: var(--step-6);
  --font_size_d3: var(--step-5);

  //= SPACING
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
  --space: var(--space-s);

  //= SIZES
  --site_width: 1240px;
  --narrow_width: calc(var(--site_width) * 0.65);

  //= ANIMATION
  --easing: ease-in-out;
  --timing_sm: 0.125s;
  --timing_md: 0.25s;
  --timing_lg: 0.65s;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --section_background: var(--apsis_gray_darkest);
    --text_color: var(--apsis_gray_lightest);
    --text_muted: var(--apsis_gray_lighter);
    --link_color_dark: var(--apsis_gray_lighter);
    --link_color: var(--apsis_gray_lightest);
    --link_color_hover: var(--white);

    --border: var(--apsis_gray_darker);
    --apsis_gray_border: var(--border);
    --guide_color: var(--border);

    --apsis_blue_border: var(--apsis_blue_darker);
    --apsis_orange_border: var(--apsis_orange_darker);
  }
}
