@use "sass:color";
@use "./vars";
@use "./global";

.typography {
  a {
    @extend .link;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: var(--heading_line_height);
    margin-bottom: var(--space);
    margin-top: var(--space-m);
    font-weight: 700;
    font-family: var(--serif);
    color: var(--apsis_blue_darker);
    text-wrap: balance;
    scroll-margin-top: var(--space-m);

    @media screen and (prefers-color-scheme: dark) {
      color: var(--apsis_blue_lightest);
    }
  }

  h1 {
    font-size: var(--font_size_h1);
  }

  h2 {
    font-size: var(--font_size_h2);
  }

  h3 {
    font-size: var(--font_size_h3);
  }

  h4 {
    font-size: var(--font_size_h4);
  }

  h5 {
    font-size: var(--font_size_h5);
  }

  //= BLOCK ELEMENTS

  p,
  ul,
  ol,
  pre {
    hyphens: auto;
    margin-bottom: var(--space);
    text-wrap: pretty;
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      margin-bottom: var(--space-xs);
    }
  }

  hr {
    width: 20%;
    margin: var(--space) 0;
    border: 0;
    border-top: 1px solid var(--border);
  }

  sup {
    font-weight: normal;
  }

  strong {
    font-weight: 600;
  }

  iframe {
    border: 0;
  }

  blockquote {
    border-left: 2px solid var(--border);
    padding-left: var(--space);
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space);

    *:last-child {
      margin-bottom: 0;
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }

  //= PARAGRAPH ELEMENTS

  .lead {
    font-size: var(--font_size_lg);
  }

  p > pre,
  p > code {
    font-family: var(--mono);
    background-color: var(--gray_lightest);
    padding: 0 var(--space-2xs);
  }

  div > pre {
    width: 100%;
    overflow-x: scroll;
  }

  p > a {
    @media (min-width: vars.$tablet) {
      white-space: nowrap;
    }
  }

  .pullquote {
    font-size: var(--step-5);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    font-weight: normal;
    font-family: var(--serif);
  }

  p > img,
  figure > img {
    max-width: 100%;
  }

  .alignright,
  a .alignright {
    float: right;
    margin: var(--space-m) calc(var(--space-m) * -2) var(--space-m) var(--space-m);

    &:first-child {
      margin-top: var(--space-xs);
    }
  }

  .alignleft,
  a .alignleft {
    float: left;
    margin: var(--space-m) var(--space-m) var(--space-m) calc(var(--space-m) * -2);

    &:first-child {
      margin-top: var(--space-xs);
    }
  }
  .aligncenter,
  a .aligncenter {
    display: block;
    margin: var(--space-m) auto;

    &:first-child {
      margin-top: var(--space-xs);
    }
  }

  .img-s {
    @media (min-width: vars.$mobile) {
      width: 20%;
      max-width: 360px;
    }
  }

  .img-m {
    @media (min-width: vars.$mobile) {
      width: 40%;
      max-width: 480px;
    }
  }

  .img-l {
    @media (min-width: vars.$mobile) {
      width: 60%;
      max-width: 640px;
    }
  }

  .img-full {
    width: 100%;
  }

  figure > figcaption {
    font-size: var(--font_size_xs);
    color: var(--apsis_gray);
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  #footnote-label {
    font-size: var(--font_size_lg);
  }
}
