@use "sass:color";

//= COLORS
$apsis_blue: #2173aa;
$apsis_dark: #2c3e50;
$apsis_gray: #596d79;
$apsis_orange: #c0705a;
$apsis_fuschia: #a35576;
$apsis_green: #00988b;
$apsis_purple: #8250df;
$apsis_red: #d1242f;
$white: #fff;
$black: #111;

$colors: (
  "apsis_blue": $apsis_blue,
  "apsis_dark": $apsis_dark,
  "apsis_gray": $apsis_gray,
  "apsis_orange": $apsis_orange,
  "apsis_fuschia": $apsis_fuschia,
  "apsis_green": $apsis_green,
  "apsis_purple": $apsis_purple,
  "apsis_red": $apsis_red,
  "white": $white,
  "black": $black
);

//= MEDIA_QUERIES
$mobile: 512px;
$tablet: 720px;
$desktop: 960px;
$desktop_lg: 1440px;
$desktop_xl: 1600px;