//= COLORS

$apsis_blue: #2173aa;
$apsis_dark: #2c3e50;
$apsis_gray: #596d79;
$apsis_orange: #c0705a;
$apsis_fuschia: #c7399f;
$apsis_green: #31a560;
$white: #fff;

$border_gray: rgba($apsis_gray, 0.15);
$outline_gray: rgba($apsis_gray, 0.25);
$surface_gray: rgba($apsis_gray, 0.0375);

$border_blue: rgba($apsis_blue, 0.15);
$outline_blue: rgba($apsis_blue, 0.25);
$surface_blue: rgba($apsis_blue, 0.075);

$border_orange: rgba($apsis_orange, 0.015);
$outline_orange: rgba($apsis_orange, 0.25);
$surface_orange: rgba($apsis_orange, 0.075);

$gray_darker: darken($apsis_dark, 15%);
$gray_dark: darken($apsis_gray, 5%);
$gray: lighten($apsis_gray, 15%);
$gray_lighter: lighten($apsis_gray, 30%);
$gray_lightest: lighten($apsis_gray, 40%);

$shadow: rgba($apsis_dark, 0.5);

//= FONTS

$sans: "Inter", sans-serif;
$mono: "IBM Plex Mono", monospace;

$font_size: 1rem;
$line_height: 1.6125;
$heading_line_height: 1.125;
$font_size_xxs: 0.65rem;
$font_size_xs: 0.75rem;
$font_size_sm: 0.889rem;
$font_size_lg: 1.125rem;

$font_size_d1: 3.653rem;
$font_size_d2: 2.887rem;
$font_size_d3: 2.281rem;

$font_size_h1: 1.802rem;
$font_size_h2: 1.602rem;
$font_size_h3: 1.424rem;
$font_size_h4: 1.266rem;
$font_size_h5: 1.125rem;

//= SPACING

$spacing: 1rem;
$spacing_xs: $spacing * 0.35;
$spacing_sm: $spacing * 0.5;
$spacing_md: $spacing;
$spacing_lg: $spacing * 1.5;
$spacing_xl: $spacing * 2;

//= SIZES

$site_width: 1240px;

//= MEDIA_QUERIES

$mobile: 512px;
$tablet: 720px;
$desktop: 960px;
$lgdesktop: 1440px;
$xldesktop: 1600px;

//= ANIMATION
$easing: ease-in-out;
$timing_sm: 0.125s;
$timing_md: 0.25s;
$timing_lg: 0.65s;
