@use "./vars";

@import "minireset.css/minireset.sass";
@import "styles/fonts";
@import "styles/global";

html,
body {
  color: vars.$apsis_dark;
  font-family: vars.$sans;
  font-size: 100%;
  line-height: 1.4124;
}

:root {
  --guideColor: #{vars.$border_gray};
}

