@use "./vars";
@use "./theme";

@import "minireset.css/minireset.sass";

@import "utils/animations";

@import "styles/fonts";
@import "styles/global";
@import "styles/prism";


html,
body {
  color: var(--apsis_dark);
  font-family: var(--sans);
  line-height: var(--line_height);
  border-bottom: 30px solid var(--apsis_blue);
}

#nprogress .bar {
  background: var(--apsis_blue);
}
