@use "sass:meta";
@use "./vars";
@use "./theme";

@import "vendor/reset.css";
@import "vendor/dracula.css";

@include meta.load-css("utils/animations");
@include meta.load-css("global");
@include meta.load-css("typography");

html,
body {
  min-height: 100%;
  background-color: var(--section_background);
  color: var(--text_color);
  font-family: var(--sans);
  line-height: var(--line_height);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  border-bottom: 12px solid var(--apsis_blue);
}

#__next {
  min-height: 100%;
}

#wrapper {
  min-height: calc(100dvh - 12px);
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#nprogress .bar {
  background: var(--apsis_blue);
}