@use "styles/vars";

.logotype {
  font-size: vars.$font_size_h4;
  color: vars.$apsis_blue;
  text-transform: lowercase;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;

  &__planet {
    margin-right: vars.$spacing_sm;
  }
}
