@use 'styles/vars';

.section {
  --siteWidth: #{vars.$site_width};

  position: relative;
  background-color: var(--sectionBackground);

  &--bordered {
    border-top: 1px solid var(--guideColor);
    border-bottom: 1px solid var(--guideColor);
  }

  &--spaced {
    .section__content {
      padding: vars.$spacing_xl * 3 vars.$spacing_xl * 2;
    }
  }

  &--kebabed {
    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      background-color: var(--guideColor);
      height: 1px;
      width: calc((100vw - var(--siteWidth)) / 2 + #{vars.$spacing});
    }

    &::before {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  &--narrow {
    --siteWidth: #{vars.$site_width * 0.6};
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }

  &__guides {
    height: 100%;
    margin: 0 auto;
    max-width: vars.$site_width;
    width: 100%;
    border-left: 1px solid var(--guideColor);
    border-right: 1px solid var(--guideColor);
  }

  &__container {
    margin: 0 auto;
    max-width: var(--siteWidth);
    width: 100%;
  }

  &__label {
    font-family: vars.$serif;
    font-size: vars.$font_size_lg;
    color: vars.$apsis_blue;
    background-color: vars.$surface_blue;
    display: inline-block;
    padding: vars.$spacing_xs vars.$spacing;

    text-align: right;
    padding-right: vars.$spacing_lg * 2;
    margin-left: calc(-100vw / 2 + var(--siteWidth) / 2);
    width: calc(((100vw - var(--siteWidth)) / 2) + #{vars.$spacing_lg});
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
