@use "styles/vars";

@mixin underline-link($color: blue, $hover-color: blue, $active-color: blue) {
    color: $color;
    text-decoration: none;

    &:hover {
        color: $hover-color;
        text-decoration: underline;
    }

    &:active {
        color: $active-color;
        top: 1px;
    }
}
