$image-size: 100px;

.author-block {
    margin-top: $image-size / 2 + $padding-lg;
    border-top: 1px solid $gray-lighter;
    text-align: center;

    &__image {
        @extend .image--round;
        @include size($image-size);
        @include margin( -($image-size / 2) auto null);

        display: block;
        border: 1px solid $gray-lighter;
        background: white;
        padding: 5px;
    }

    &__header,
    &__content {
        @extend .typography;
    }

    &__title {
        margin-bottom: 0;
    }

    @include media($desktop) {
        max-width: 80%;
        @include margin(null auto);
    }
}
