.banner {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include box-pack(center);
    @include box-align(center);
    @include padding(12em $padding-base);

    position: relative;

    > .container {
        position: relative;
        z-index: 1;
    }

    &__header {
        margin-top: 0;
        text-align: center;

        h1, h2, h3 {
            font-family: $font-family-serif;
            text-transform: lowercase;
            letter-spacing: 0;
            font-size: modular-scale(3);
            font-weight: 300;
            line-height: 1.15;
        }
    }

    &__copy {
        text-align: center;

        h1, h2, h3 {
            font-family: $font-family-serif;
            text-transform: lowercase;
            font-weight: 400;
        }

        hr {
            @extend .hr;
            @include margin(null auto);
        }

        p > a:not(.btn) {
            @include underline-link($link-color, $link-hover-color, $link-active-color);
        }
    }

    &__next {
        opacity: 0;
        @extend .animated--fade-in;
        @include animation-delay(1.5s);
        @include animation-fill-mode(forwards);
        @include position(absolute, null 0 $padding-base);
        text-align: center;
    }

    &__next-link {
        @include underline-link($link-color, $link-hover-color, $link-active-color);
        text-transform: lowercase;
    }

    @include media($mobile) {
        background-attachment: scroll;
    }

    @include media($tablet) {
        background-attachment: scroll;
    }

    @include media($desktop) {
        background-attachment: fixed !important;
    }
}
