---
layout: default
title: Blog
---

<div class="container">
    {% for post in paginator.posts %}
        {% assign post_link = site.baseurl | append:post.url  %}

        <article class="post">
            <header>
                <h2>
                    <a href="{{ post_link }}">
                        {{ post.title }}
                    </a>
                </h2>
            </header>

            {{ post.excerpt }}

            <p><a href="{{ post_link }}">read more &raquo;</a></p>
        </article>
    {% endfor %}

    {% include paginator.html %}
</div>
