@mixin button-variant($color: #ccc) {
    color: $color;
    border: 1px solid $color;

    &:hover,
    &:focus {
        border-color: darken($color, 10%);
        color: darken($color, 10%);
    }

    &:active,
    &:focus {
        outline: 0;
    }
}
