{% capture image_variant %}logos/apsis_{{include.variant | default: 'blue'}}.png{% endcapture %}
{% capture mobile_variant %}logos/apsis_mobile_{{include.variant | default: 'blue'}}.png{% endcapture %}

<a href="{{ site.baseurl }}/" class="logo logo--navbar logo--mobile navbar__logo">
    <picture>
        <source media="(min-width: 960px)" srcset="{% asset_path {{image_variant}} %}" />
        <source srcset="{% asset_path {{mobile_variant}} %}" />
        {% image {{image_variant}} alt:{{site.name}} class:"logo__image" %}
    </picture>

    <h1 class="logo__text">{{site.name}}</h1>
</a>
