<header id="navbar" class="navbar {{ page.navbar_class }}">
    <div class="navbar__header">
        <a href="{{ site.baseurl }}/" class="logo logo--navbar logo--desktop navbar__logo">
            {% img apsis.svg alt:{{site.name}} class:"logo__image" %}
        </a>

        <a href="{{ site.baseurl }}/" class="logo logo--navbar logo--mobile navbar__logo">
            {% img apsis_mobile.svg alt:{{site.name}} class:"logo__image" %}
        </a>

        <button id="nav-toggle" class="navbar__nav-toggle">
            <span class="navicon {{ page.navicon_class }}">
                <span class="navicon__bar"></span>
            </span>
            <span class="sr">Toggle Menu</span>
        </button>
    </div>

    <nav class="navbar__nav">
        {% for link in site.data.nav %}
            <a class="navbar__nav-link" href="{{ site.baseurl }}/{{ link.url }}">{{ link.label }}</a>
        {% endfor %}
    </nav>
</header>
