<meta content="{{ site.name | escape }}" property="og:site_name">
{% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
{% else %}
    <meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
    <meta content="article" property="og:type">
{% else %}
    <meta content="website" property="og:type">
{% endif %}
{% if page.excerpt %}
    <meta content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}" property="og:description">
{% else %}
    <meta content="{{ site.description | strip_newlines }}" property="og:description">
{% endif %}
{% if page.url %}
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.url }}" property="og:url">
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if post.author %}
    <meta content="{{ site.data.people[post.author].name }}" property="article:author">
{% endif %}
{% if page.image %}
    <meta content="{{ site.url }}{% asset_path {{page.image}} %}" property="og:image">
{% else %}
    <meta content="{{ site.url }}{% asset_path apsis_social.jpg %}" property="og:image">
{% endif %}
