.drawer {
    background: $apsis-dark;
    @include size($sidebar-width 100%);
    z-index: -1;

    &__nav {
        @extend .nav;

        ul {
            @include margin(0);
            @include padding(0);
            overflow: hidden;
        }

        li {
            border-bottom: 1px solid darken($apsis-dark, 5%);

            @include transform(translateY(-50px));
            @include transform(scale(1.1));
            opacity: 0;

            @include transition(
                opacity 200ms ease-out,
                transform 200ms ease-out
            );

            @include delay-each(5, 150ms);
        }

        a {
            text-transform: lowercase;
            display: block;
            @include padding($padding-sm $padding-base);
            @include underline-link(white, white, white);

            &:hover {
                background-color: darken($apsis-dark, 10%);
            }
        }
    }

    &--open {
        li {
            @include transform(translateY(0));
            @include transform(scale(1));
            opacity: 1;
        }
    }
}
