.footnotes {
    font-size: .75em;

    ol {
        padding: 0;
        li {
            color: $gray-lighter;

            p {
                color: $text-color;
            }

            a {
                @extend .link--underline;
            }

            blockquote {
                @extend .blockquote;
            }
        }
    }

    .reversefootnote {
        vertical-align: super;
        font-size: smaller;
    }
}
