.logo {
    &__text {
        @extend .sr;
    }

    &--navbar {
        float: left;
        margin-right: $padding-base;
        padding: $padding-base / 2;

        .logo__image {
            height: $navbar-height - $padding-base;
        }
    }
}
