.logo {
    &__image {
        vertical-align: middle;
    }

    &--navbar {
        float: left;
        margin-right: $padding-base;
        padding: $padding-base / 2;

        .logo__image {
            max-height: $header-height - $padding-base;
        }
    }

    &--desktop {
        display: none;

        @include media($desktop) {
            display: block;
        }
    }

    &--mobile {
        display: block;

        @include media($desktop) {
            display: none;
        }
    }
}
