.navbar {
    @include position(absolute, 0 0 null);
    background-color: transparentize(white, 0.9);
    z-index: 9999;

    min-width: $screen-min-width;
    height: $header-height;
    overflow: hidden;

    @include transition(
        background .35s ease-in,
        height .35s ease-in
    );


    &__header {
        @include position(absolute, 0 0 null);
        height: $header-height;
        z-index: 3;
    }

    &__nav {
        @include position(absolute, $header-height 0 0);
        @include padding($padding-base);
        overflow-y: auto;
        overflow: hidden;
        z-index: 2;
    }

    &__nav-toggle {
        touch-action: manipulation;
        @include size($header-height);
        @include padding(($header-height - $nav-icon-size) / 2);
        border: 0;
        background: transparent;
        outline: 0;
        float: right;
    }

    &__nav-link {
        pointer-events: auto;
        display: block;
        text-transform: lowercase;
        margin-bottom: $padding-sm;
        @include underline-link($link-color, $link-hover-color, $link-active-color);

        // Intro Animation
        @include transform(translateY(50px));
        @include transform(scale(0.75));
        opacity: 0;

        @include transition(
            opacity 350ms ease-out,
            transform 350ms ease-out
        );

        @include delay-each(5, 150ms);
    }

    //== Variants
    //

    &--open {
        @include transition(
            background .35s ease-in,
            height .35s ease-in 200ms
        );

        background-color: white;
        height: 100%;

        .navbar__nav-link {
            @include transform(translateY(0));
            @include transform(scale(1));
            opacity: 1;
        }
    }

    &--white {
        .navbar__logo {
            .logo__image {
                filter: grayscale(1) brightness(100);    
            }
        }

        .navbar__nav-link {
            @include underline-link(white, white, white);
        }
    }

    //== Media Queries
    //

    @include media($desktop) {
        &__header {
            position: static;
            float: left;
        }

        &__nav {
            margin: ($header-height - $grid-unit-base) / 2;
            height: $grid-unit-base;
            position: static;
            float: right;
            padding: 0;
        }

        &__nav-link {
            @include margin(0 0 0 $grid-unit-base);
            @include transform(none);
            display: inline-block;
            opacity: 1;
        }

        &__nav-toggle {
            display: none;
        }
    }
}
