.navbar {
    @include padding($padding-sm);
    @include position(absolute, 0 0 null);
    @include transition(background-color .25s);
    @include transition-delay(.75s);

    &__header {
        @include clearfix;
    }

    &__nav {
        @include margin($padding-base null);
    }

    &__collapse {
        max-height: 0;
        overflow: hidden;
        @include transition(max-height .5s ease-in-out, margin-top .5s ease-in-out);
    }

    &__nav-link {
        display: block;
        text-transform: lowercase;
        margin-bottom: $padding-sm;
        @extend .link--underline;

        // Intro Animation
        @include transform(translateY(-50px));
        opacity: 0;

        @include transition(
            opacity 200ms ease-out,
            transform 200ms ease-out
        );

        @include delay-each(5, 150ms);
    }

    &__nav-toggle {
        float: right;
        padding: 8px;
        border: 0;
        background: transparent;
        outline: 0;
    }

    //= Media Queries

    @include media($desktop) {
        &__header {
            @include after(none);
        }

        &__collapse {
            max-height: initial;
        }

        &__nav {
            float: right;
            display: block;
            margin-top: 0;
        }

        &__nav-link {
            @include transform(translateY(0));
            display: inline-block;
            padding: 2px 0;
            margin: 0;
            margin-left: $padding-base;
            opacity: 1;
        }

        &__nav-toggle {
            display: none;
        }
    }


    // Variants

    &--open {
        border-bottom: 3px solid $apsis-blue;
        background-color: white;
        @include transition(background-color .25s);

        .navbar__collapse {
            max-height: 300px;
        }

        .navbar__nav-link {
            @include transform(translateY(0));
            opacity: 1;
        }
    }
}
