.site-header {
    height: $header-height;
    line-height: $header-height;
    @include padding(null $grid-unit-base);
    @include position(absolute, 0 0 null);

    &__nav {
        display: none;
        float: right;
        @extend .nav;
        @extend .nav--inline;
    }

    &__nav-link {
        text-transform: lowercase;
        @extend .link--underline;

        &:hover {
            // TODO: I hate importants, but BEM doesn't
            // override the defaults set on element levels.
            // Need to find a good resolution for this.
            text-decoration: none !important;
        }
    }

    &__nav-toggle {
        height: $grid-unit-base;
        display: inline-block;
        float: right;
        margin-top: ($header-height - $nav-icon-size) / 2;
    }

    //= Media Queries

    @include media($desktop) {
        &__nav {
            display: block;
        }

        &__nav-toggle {
            display: none;
        }
    }
}
