<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        <div id="wrapper">
            <div id="canvas">
                {% include drawer.html %}

                {% include header.html %}

                <div id="content">
                    {{ content }}
                </div>

                {% include footer.html %}
            </div>
        </div>

        <!-- !START javascript includes -->
        {% javascript vendor %}
        {% javascript app %}
        <!-- !END javascript includes -->
    </body>
</html>
