<!DOCTYPE html>
<html>
    {% include head.html %}

    <body class="{{ page.body_class }}">
        <div id="wrapper">
            <!-- !START navbar -->
            {% include navbar.html %}
            <!-- !END navbar -->

            <!-- !START content -->
            <div id="content">
                {{ content }}
            </div>
            <!-- !END content -->

            <!-- !START footer -->
            {% include footer.html %}
            <!-- !END footer -->
        </div>

        <!-- !START javascript includes -->
        {% javascript vendor %}
        {% javascript scripts %}
        <!-- !END javascript includes -->
    </body>
</html>
