.post-wrapper {
    @include padding(null $padding-base);
}

.post {
    margin-bottom: $padding-lg;

    &__title {
        > a {
            @include underline-link($apsis-dark, $link-hover-color, $link-active-color);
        }
    }

    &__header,
    &__content {
        @extend .typography;
    }

    &__image-wrapper {
        @include margin(null -1 * $padding-base);
    }

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__photo-credit {
        color: $gray-lighter;
        font-style: italic;
        font-weight: 300;
    }

    &__meta {
        font-size: .85em;
        color: $gray;
    }

    &--list {
        padding-top: $padding-lg;
        border-top: 1px solid $gray-lighter;

        &:first-child {
            border-top: 0;
        }
    }
}
