@keyframes bounce-in {
    from {
        opacity: 0;
        transform: translate3d(0, -50vh, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 2vh, 0);
    }

    60% {
        transform: translate3d(0, -1vh, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}
